<%= render :partial => "layouts/search_form" %>

<h1>  Search Results </h1>

<%= link_to 'Return to room listing', rooms_path %> |
<%= link_to 'Home', root_path  %>

<%= render :partial => "table" %>
